<!DOCTYPE html>
<html>
    <head>
        <title>Autocomplete Service</title>
        <script>
            let ajaxTimeout = null;

            function initiateSuggestionsRoundTrip(prefix) {
                if(ajaxTimeout !== null) {
                    clearTimeout(ajaxTimeout);
                }

                ajaxTimeout = setTimeout(function() {
                    doAjaxRequest(prefix);
                }, 500);
            }

            function doAjaxRequest(prefix) {
                console.log("Getting suggestions...");
                console.log(prefix);

                let httpRequest = new XMLHttpRequest();
                httpRequest.onreadystatechange = handleAjaxResponse;
                httpRequest.open("GET", "./autocomplete/?prefix=" + prefix, true);
                httpRequest.send(null);
            }

            function handleAjaxResponse() {
                console.log(this.readyState);
                console.log(XMLHttpRequest.DONE);
                if(this.readyState === XMLHttpRequest.DONE) {
                    if(this.status === 200) {
                        console.log(this.responseText);
                        document.getElementById("output").innerHTML = this.responseText;
                    }
                }
            }
        </script>
    </head>
    <body>
        <label for="prefix">Prefix: </label>
        <input id="prefix" name="prefix" type="text" onKeyUp="initiateSuggestionsRoundTrip(event.target.value);"/>
        <div id="output"></div>
    </body>
</html>