<!DOCTYPE html>
<html>
    <head>
        <title>Autocomplete Service</title>
        <script>
            let ajaxTimeout = null;

            function initiateSuggestionsRoundTrip(prefix) {
                if(ajaxTimeout !== null) {
                    clearTimeout(ajaxTimeout);
                }

                ajaxTimeout = setTimeout(function() {
                    doAjaxRequest(prefix);
                }, 500);
            }

            function doAjaxRequest(prefix) {
                let httpRequest = new XMLHttpRequest();
                httpRequest.onreadystatechange = handleAjaxResponse;
                httpRequest.open("GET", "./autocomplete/?prefix=" + prefix, true);
                httpRequest.send(null);
            }

            function handleAjaxResponse() {
                if(this.readyState === XMLHttpRequest.DONE) {
                    if(this.status === 200) {
                        document.getElementById("output").innerHTML = this.responseText;
                    }
                }
            }
        </script>
    </head>
    <body>
        <h1>autocomplete-service</h1>
        <p>Autocomplete as a service. Get a list of autocomplete suggestions, by sending a HTTP GET request to:</p>

        <pre>http://autocomplete-service.herokuapp.com/autocomplete/?prefix=auto</pre>
        
        <p>Use the input below for a sample!</p>

        <label for="prefix">Prefix: </label>
        <input id="prefix" name="prefix" type="text" onKeyUp="initiateSuggestionsRoundTrip(event.target.value);"/>
        <div id="output"></div>
    </body>
</html>